<div class="modal-container">

    <div class="modal-header">
      <div class="header-info">
        <h2 class="mesa-titulo">{{ cuenta?.nombreMesa }}</h2>
        
        <span class="status-badge general" 
              [class.en-curso]="cuenta?.tienePedidosEnCocina" 
              [class.finalizado]="!cuenta?.tienePedidosEnCocina">
          <mat-icon class="status-icon">
            {{ cuenta?.tienePedidosEnCocina ? 'soup_kitchen' : 'check_circle' }}
          </mat-icon>
          {{ cuenta?.tienePedidosEnCocina ? 'En Preparación' : 'Todo Entregado' }}
        </span>
      </div>
      
      <button mat-icon-button (click)="cerrarModal()" class="close-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div class="modal-body custom-scroll">
      
      <div *ngIf="isLoading" class="loading-state">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Cargando consumo...</p>
      </div>
  
      <div *ngIf="mensajeVacio" class="empty-state">
        <mat-icon>no_meals</mat-icon>
        <p>{{ mensajeVacio }}</p>
      </div>
  
      <div *ngIf="cuenta?.pedidos && !isLoading" class="pedidos-list">
        
        <div *ngFor="let pedido of cuenta?.pedidos" class="pedido-card">
          
          <div class="pedido-header">
            <div class="cliente-info">
              <span class="cliente-nombre">
                <mat-icon class="user-icon">receipt</mat-icon>


                {{ pedido.idPedido }}
              </span>
              <span class="pedido-hora">{{ pedido.fechaRegistro | date:'h:mm a' }}</span>
            </div>
  
            <span class="status-pill" [ngClass]="getClassEstado(pedido.estado)">
              {{ pedido.estado }}
            </span>
          </div>
  
          <ul class="items-list">
            <li *ngFor="let item of pedido.items" class="item-row">
              
              <div class="item-main">
                <span class="cantidad">{{ item.cantidad }}x</span>
                <span class="plato-nombre">{{ item.plato }}</span>
              </div>
  
              <div class="item-detalles">
                <span *ngIf="item.sabor" class="detalle-tag">{{ item.sabor }}</span>
                <span *ngIf="item.tipoPapas" class="detalle-tag">{{ item.tipoPapas }}</span>
                
                <ng-container *ngFor="let ad of item.detallePedidoAdicional">
                  <span class="detalle-adicional">+ {{ ad.cantidad }} {{ ad.adicional }}</span>
                </ng-container>
  
                <div *ngIf="item.comentario" class="item-comentario">
                  <mat-icon>edit_note</mat-icon> 
                  "{{ item.comentario }}"
                </div>
              </div>
  
              <div class="item-precio">
                {{ item.subtotal | currency:'S/.' }}
              </div>
            </li>
          </ul>
  
        </div>
      </div>
    </div>
  
    <div class="modal-footer" *ngIf="cuenta">
      <div class="total-row">
        <span class="label">Total :</span>
        <span class="monto"> {{ cuenta?.totalGeneral | currency:'S/.' }}</span>
      </div>
      </div>
  
  </div>